* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: 'DaddyTimeMono Nerd Font';
    font-weight: bold;
    font-size: 16px;
    border-radius: 0px;
}

/* Colors */

@define-color barbg rgba(0, 0, 0, 0);
@define-color litebg #C5FFF8;
@define-color abtu #5FBDFF;
@define-color txt #7B66FF;
@define-color hbtu #FF90BC;
@define-color tolbg #96EFFF;
@define-color bd #FFF;

/* Waybar background */

window#waybar {
    background: @barbg;
}

tooltip {
    background: @barbg;
}

tooltip label {
    color: @hbtu;
    text-shadow: none;
}

/* Workspace */

#workspaces {
    background: @litebg;
    color: @abtu;
    margin: 6px 0px 7px 0px;
    padding: 0px 0px 0px 20px;
    border-radius: 21px 0px 0px 21px;
    text-shadow: none;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    color: @abtu;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.8s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.active {
    background: @abtu;
    border-radius: 18px;
    color: @litebg;
    margin-left: 3px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.6s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button:hover {
    background: @hbtu;
    border-radius: 20px;
    color: @litebg;
    padding-left: 10px;
    padding-right: 10px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.6s cubic-bezier(.55,-0.68,.48,1.682);
}

/* Hyprland Window */

#window {
    background: @litebg;
    border-radius: 0px 21px 21px 0px;
    margin: 6px 0px 7px 0px;
    padding-right: 22px;
    color: @abtu;
    font-size: 18px;
}

/* Taskbar */

#taskbar {
    background: @litebg;
    margin: 6px 0px 7px 0px;
}

#taskbar button {
    border-radius: 15px;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.8s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button.active {
    border-radius: 18px;
    background: @abtu;
    margin-left: 3px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 3px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.6s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
    border-radius: 20px;
    background: @hbtu;
    padding-left: 12px;
    padding-right: 12px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.6s cubic-bezier(.55,-0.68,.48,1.682);
}

/* Modules */

#clock,
#network,
#pulseaudio,
#tray,
#idle_inhibitor,
#memory,
#disk,
#battery,
#temperature,
#backlight,
#custom-power,
#custom-screenshot,
#custom-clipboardclear,
#custom-wallpapers
{
    color: @txt;
    background-color: @litebg;
    border-width: 0px;
    border-color: @tolbg;
    margin: 6px 0px 7px 0px;
    font-size: 19px;
    text-shadow: none;
}

#clock {
    padding-left: 16px;
    margin-left: 24px;
    padding-right: 17px;
    background-color: @barbg;
    border-width: 5px;
    border-style: solid;
    border-radius: 20px;
    border-color: @hbtu;
    color: @tolbg;
    font-size: 18px;
}

#battery {
    border-radius: 0px 21px 21px 0px;
    font-size: 20px;
    padding-right: 18px;
    padding-left: 9px;
}

#memory {
    font-size: 24px;
    padding-right: 4px;
    border-radius: 21px 0px 0px 21px;
    padding-left: 16px;
    margin-left: 18px;
    margin-right: -1px;
}

#disk {
    font-size: 22px;
    padding-right: 4px;
}

#backlight {
    padding-left: 1px;
    font-size: 20px;
}

#network {
    background-color: @barbg;
    color: @hbtu;
    font-size: 18px;
    margin-top: 7px;
    margin-bottom: 5px;
}

#pulseaudio {
    background-color: @barbg;
    color: @hbtu;
    margin-top: 6px;
    margin-bottom: 3px;
    margin-left: 15px;
    font-size: 20px;
}

#pulseaudio.microphone {
    background-color: @barbg;
    color: @hbtu;
    margin-top: 6px;
    margin-bottom: 3px;
    font-size: 20px;
    margin-left: 13px;
}


#temperature {
    padding-right: 13px;
    font-size: 20px;
}

#tray {
    background: @txt;
    border-radius: 20px;
    margin-left: 13px;
    padding-left: 13px;
    padding-right: 13px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#idle_inhibitor {
    border-radius: 21px 0px 0px 21px;
    background-color: @barbg;
    color: @hbtu;
    border-width: 5px 0px 5px 5px;
    border-style: solid;
    font-size: 18px;
    margin-left: 14px;
    padding-left: 17px;
    padding-top: 1px;
    font-size: 20px;
}

#idle_inhibitor.activated {
    border-radius: 21px 0px 0px 21px;
    border-width: 5px 0px 5px 5px;
    font-size: 18px;
    border-style: solid;
    margin-left: 14px;
    background-color: @barbg;
    color: @hbtu;
    padding-left: 17px;
    padding-top: 1px;
    font-size: 20px;
}

#custom-power {
    background: @txt;
    color: white;
    margin-right: 24px;
    margin-left: 15px;
    border-radius: 20px;
    padding-left: 12px;
    padding-right: 4px;
    font-size: 21px;
}

#custom-wallpapers {
    background: @barbg;
    border-width: 5px 5px 5px 0px;
    border-style: solid;
    color: @hbtu;
    padding-left: 8px;
    padding-right: 11px;
    border-radius: 0px 21px 21px 0px;
    font-size: 18px;
}

#custom-screenshot {
    background: @barbg;
    border-style: solid;
    border-width: 5px 0px 5px 0px;
    color: @hbtu;
    padding-left: 10px;
}

#custom-clipboardclear {
    background: @barbg;
    border-style: solid;
    border-width: 5px 0px 5px 0px;
    color: @hbtu;
    font-size: 20px;
    padding-left: 10px;
}
